@model WebBriliFresh.Models.DiscountOrder

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa record này?</h3>
<div>
    <h4>DiscountOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DisId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Trở Lại</a>
    </form>
</div>
