@model WebBriliFresh.Models.DiscountStore

@{
    ViewData["Title"] = "Delete";
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản lý khuyến mãi</a>
            <a asp-action="Index" class="breadcrumb-item">Khuyến mãi theo cửa hàng</a>
            <span class="breadcrumb-item active">Xóa</span>
        </nav>
    </div>
</div>

<h1>Xóa Khuyến Mãi</h1>
<h3>Bạn có chắc chắn muốn xóa khuyến mãi này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisId)
        </dd>
        <dt class="col-sm-2">
            Cửa hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model =>model.Store.StoreId). @Html.DisplayFor(model =>model.Store.SpecificAddress), @Html.DisplayFor(model =>model.Store.Ward), @Html.DisplayFor(model =>model.Store.District), @Html.DisplayFor(model =>model.Store.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        @if (Model.Status == true)
        {
            <dd class="col-sm-10">
                <span class="badge badge-pill badge-green">Hoạt động</span>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                <span class="badge badge-pill badge-red">Không hoạt động</span>
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DisId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
    </form>
</div>
