@model WebBriliFresh.Models.DiscountStore

@{
    ViewData["Title"] = "Details";
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản lý khuyến mãi</a>
            <a asp-action="Index" class="breadcrumb-item">Khuyến mãi theo cửa hàng</a>
            <span class="breadcrumb-item active">Chi tiết</span>
        </nav>
    </div>
</div>

<div>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td class="text-dark font-weight-semibold">@Html.DisplayNameFor(model => model.DisId)</td>
                    <td>@Html.DisplayFor(model => model.DisId)</td>
                </tr>
                <tr>
                    <td class="text-dark font-weight-semibold">Cửa hàng</td>
                    <td>
                        @Html.DisplayFor(model =>model.Store.SpecificAddress), @Html.DisplayFor(model =>model.Store.Ward), @Html.DisplayFor(model =>model.Store.District), @Html.DisplayFor(model =>model.Store.City)
                    </td>
                </tr>
                <tr>
                    <td class="text-dark font-weight-semibold">@Html.DisplayNameFor(model => model.Value)</td>
                    <td>@Html.DisplayFor(model => model.Value)</td>
                </tr>
                <tr>
                    <td class="text-dark font-weight-semibold">@Html.DisplayNameFor(model => model.StartDate)</td>
                    <td>@Html.DisplayFor(model => model.StartDate)</td>
                </tr>
                <tr>
                    <td class="text-dark font-weight-semibold">@Html.DisplayNameFor(model => model.EndDate)</td>
                    <td>@Html.DisplayFor(model => model.EndDate)</td>
                </tr>
                <tr>
                    <td class="text-dark font-weight-semibold">@Html.DisplayNameFor(model => model.Status)</td>
                    @if (Model.Status == true)
                    {
                        <td>Hoạt động</td>
                    }
                    else
                    {
                        <td>Không hoạt động</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
</div>