@model IEnumerable<WebBriliFresh.Models.DiscountType>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h2 class="header-title">Orders List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Khuyến Mãi Loại Sản Phẩm</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <b>Danh mục sản phẩm</b>
                        <select id="mainTypeSelect" style="min-width: 180px;">
                            <option value="" selected>Tất cả</option>
                            <option value="Rau củ">Rau củ</option>
                            <option value="Thịt cá">Thịt cá</option>
                            <option value="Trái cây 4 mùa">Trái Cây 4 Mùa</option>
                        </select>
                    </div>
                    <div class="m-b-10 m-r-15">
                        <b>Loại sản phẩm</b>
                        <select id="subTypeSelect1" class="subTypeSelect" style="min-width: 180px;">
                            <option value="" selected>Tất cả</option>
                            <option value="Rau lá" class="sub1">Rau lá</option>
                            <option value="Củ & hạt" class="sub1">Củ & hạt</option>
                            <option value="Quả trái" class="sub1">Quả trái</option>
                            <option value="Rau gia vị" class="sub1">Rau gia vị</option>
                            <option value="Nấm" class="sub1">Nấm</option>
                        </select>
                        <select id="subTypeSelect2" class="subTypeSelect" style="min-width: 180px;">
                            <option value="" selected>Tất cả</option>
                            <option value="Thịt heo" class="sub2">Thịt heo</option>
                            <option value="Thịt bò" class="sub2">Thịt bò</option>
                            <option value="Gà vịt" class="sub2">Gà vịt</option>
                            <option value="Trứng" class="sub2">Trứng</option>
                            <option value="Hải sản" class="sub2">Hải sản</option>
                        </select>
                        <select id="subTypeSelect3" class="subTypeSelect" style="min-width: 180px;">
                            <option value="" selected>Tất cả</option>
                            <option value="Trái cây nhập khẩu" class="sub3">Trái cây nhập khẩu</option>
                            <option value="Đặc sản Việt Nam" class="sub3">Đặc sản Việt Nam</option>
                        </select>
                    </div>
                    <div class="m-b-10 m-r-15">
                        <b>Tình trạng khuyến mãi</b>
                        <select id="statusSelect" style="min-width: 180px;">
                            <option value="" selected>Tất cả</option>
                            <option value="Hoạt động">Hoạt động</option>
                            <option value="Không hoạt động">Không hoạt động</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a asp-area="Admin" asp-controller="DiscountTypes" asp-action="Create" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Tạo Khuyến Mãi</span>
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DisId)
                        </th>
                        <th>
                            Danh mục sản phẩm
                        </th>
                        <th>
                            Loại sản phẩm
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rowTable">
                            <td class="ManyDisId">
                                @Html.DisplayFor(modelItem => item.DisId)
                            </td>
                            <td class="mainType">
                                @Html.DisplayFor(model => item.Type.MainType)
                            </td>
                            <td class="subType">
                                @Html.DisplayFor(model => item.Type.SubType)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.EndDate)
                            </td>
                            @if (item.Status == true)
                            {
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div class="statusValue">Hoạt động</div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div class="statusValue">Không hoạt động</div>
                                    </div>
                                </td>
                            }

                            <td class="text-right">
                                <a asp-area="Admin" asp-controller="DiscountTypes" asp-action="Edit" asp-route-id="@item.DisId" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </a>
                                <a asp-area="Admin" asp-controller="DiscountTypes" asp-action="Delete" asp-route-id="@item.DisId" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </a>
                                <a style="display: block" asp-controller="DiscountTypes" asp-action="Details" asp-route-id="@item.DisId">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    var s1 = $("#subTypeSelect1")
    var t1 = $("#sub1")

    var s2 = $("#subTypeSelect2")
    var t2 = $("#sub2")

    var s3 = $("#subTypeSelect3")
    var t3 = $("#sub3")

    var maintype = $("#mainTypeSelect");

    t2.prop("disabled", true);
    t3.prop("disabled", true);

    s2.hide()
    s3.hide()

    maintype.change(function () {
        if (maintype.find(":selected").val() === 'Rau củ') {
            t2.prop("disabled", true);
            t3.prop("disabled", true);
            t1.prop("disabled", false);

            s2.hide()
            s3.hide()
            s1.show()
        } else if (maintype.find(":selected").val() === 'Thịt cá') {
            t2.prop("disabled", false);
            t3.prop("disabled", true);
            t1.prop("disabled", true);

            s2.show()
            s3.hide()
            s1.hide()
        } else {
            t2.prop("disabled", true);
            t3.prop("disabled", false);
            t1.prop("disabled", true);

            s2.hide()
            s3.show()
            s1.hide()
        }
    })

    $('#mainTypeSelect, .subTypeSelect, #statusSelect').change(function () {
        var a = $('#mainTypeSelect').val();
        if (a === 'Rau củ')
            var b = $('#subTypeSelect1').val();
        else if (a === 'Thịt cá')
            b = $('#subTypeSelect2').val();
        else if (a === 'Trái cây 4 mùa')
            b = $('#subTypeSelect3').val();
        else
            b = "";
        var c = $('#statusSelect').val();

        $(".rowTable").show();
        for (var i = 0; i < $(".ManyDisId").length; i++) {
            var d = $(".mainType")[i].innerText;
            var e = $(".subType")[i].innerText;
            var f = $(".statusValue")[i].innerText;
            if (((a !== d) && (a !== "")) || ((b !== e) && (b !== "")) || ((c !== f) && (c !== ""))) {
                $(".rowTable")[i].style.display = 'none';
            }
        }
    })
</script>