@model WebBriliFresh.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var a = @Model.ProductImages.Where(x => x.ProId == @Model.ProId).Select(p => p.ImgData).ToList();

    var b = @Model.Stocks.Where(x => x.ProId == @Model.ProId).Sum(i => i.Quantity);
    var c = @Model.ProductImages.Where(x => x.ProId == @Model.ProId).Select(p => p.ImgData).ToList();
    var d = c.Count();

    int x = 0;
    int[] y = new int[3];
    int z = 0;
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="index" class="breadcrumb-item">Xóa sản phẩm</a>
            <span class="breadcrumb-item active">Thêm mới sản phẩm</span>
        </nav>
    </div>
</div>
<hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProId)
        </dd>
        <dt class = "col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProName)
        </dd>
        <dt class = "col-sm-2">
            Danh mục
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.MainType)
        </dd>
        <dt class = "col-sm-2">
           Loại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.SubType)
        </dd>
        <dt class = "col-sm-2">
           Giá bán
        </dt>
        <dd class = "col-sm-10">
            <input type="hidden" class="price" value="@Html.DisplayFor(modelItem => modelItem.PriceString)">
            <span class="main">

            </span>
        </dd>
        <dt class = "col-sm-2">
            Nguồn gốc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            Ngày nhập
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Des)
        </dd>
        <dt class = "col-sm-2">
            Đơn vị bán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-2">
            Tồn kho
        </dt>
        <dd class="col-sm-10">
            @b
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a style="margin-left:20px;" asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
    </form>
</div>
<script>
    for(var i =0 ; i < $(".price").length; i++){
        var a = $(".price")[i].value;
        a = a.replace('.00','');
        $(".main")[i].innerHTML = a;
    }
</script>