@model WebBriliFresh.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var a = @Model.ProductImages.Where(x => x.ProId == @Model.ProId).Select(p => p.ImgData).ToList();

    var b = @Model.Stocks.Where(x => x.ProId == @Model.ProId).Sum(i => i.Quantity);
    var c = @Model.ProductImages.Where(x => x.ProId == @Model.ProId).Select(p => p.ImgData).ToList();
    var d = c.Count();
    int x = 0;
    int[] y = new int[3];
    int z = 0;
}
<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="index" class="breadcrumb-item">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
        </nav>
    </div>
</div>
<hr />

<div>
    @for (int i = 0; i < a.Count; i++)
    {
        if (a[i].Contains("is_avt"))
        {
            x = i;
        }
        else
        {
            y[z] = i;
            z++;
        }
    }
    

    <div class="page-header no-gutters has-tab" style="margin: 16px;">

        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 140px; width: 140px">
                     @if(d>=1){
                        <img id="blah" src="~/ImageProduct/@Html.DisplayFor(m=>a[x])" alt="your image" style="width: 140px; height: auto">
                    }
                    else{
                            <img id="blah" src="#" alt="your image" style='width: 100%;max-height: 100%'>
                    }
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">@Html.DisplayFor(model => model.ProName)</h4>
                    <p class="text-muted m-b-0">Mã sản phẩm: #@Html.DisplayFor(model => model.ProId)</p>
                </div>
            </div>
            <div class="m-b-15">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ProId">
                    <i class="anticon anticon-edit"></i>
                    <span>Sửa sản phẩm</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-overview">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-success anticon anticon-smile"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">10 ratings</p>
                                        <div class="star-rating m-t-5">
                                            <input type="radio" id="star3-5" name="rating-3" value="5" checked disabled /><label for="star3-5" title="5 star"></label>
                                            <input type="radio" id="star3-4" name="rating-3" value="4" disabled /><label for="star3-4" title="4 star"></label>
                                            <input type="radio" id="star3-3" name="rating-3" value="3" disabled /><label for="star3-3" title="3 star"></label>
                                            <input type="radio" id="star3-2" name="rating-3" value="2" disabled /><label for="star3-2" title="2 star"></label>
                                            <input type="radio" id="star3-1" name="rating-3" value="1" disabled /><label for="star3-1" title="1 star"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-shopping-cart"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Sales</p>
                                        <h3 class="m-b-0 ls-1">1,521</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-message"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Reviews</p>
                                        <h3 class="m-b-0 ls-1">27</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-stock"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Available Stock</p>
                                        <h3 class="m-b-0 ls-1">152</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="flex-direction: row;">
                    <div class="card-body col-6" >
                        <h4 class="card-title">Thông tin sản phẩm</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Mã sản phẩm</td>
                                        <td>@Html.DisplayFor(model => model.ProId)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Tên sản phẩm</td>
                                        <td>@Html.DisplayFor(model => model.ProName)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Danh mục</td>
                                        <td>@Html.DisplayFor(model => model.Type.MainType)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Loại</td>
                                        <td>@Html.DisplayFor(model => model.Type.SubType)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Giá nhập</td>
                                        <input type="hidden" class="price_2" value="@Html.DisplayFor(modelItem => modelItem.OriginalPriceString)">
                                        <td class="main_2">@Html.DisplayFor(model => model.OriginalPrice)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Giá bán</td>
                                        <input type="hidden" class="price" value="@Html.DisplayFor(modelItem => modelItem.PriceString)">
                                        <td class="main">@Html.DisplayFor(model => model.Price)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Nguồn gốc</td>
                                        <td>@Html.DisplayFor(model => model.Source)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Ngày nhập</td>
                                        <td>@Html.DisplayFor(model => model.StartDate)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Mô tả</td>
                                        <td>@Html.DisplayFor(model => model.Des)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Đơn vị bán</td>
                                        <td>@Html.DisplayFor(model => model.Unit)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark font-weight-semibold">Trạng thái</td>
                                        @if(b>0){
                                            <td>
                                                <span class="badge badge-pill badge-green">Còn hàng</span>
                                            </td>
                                        }else{
                                            <td>
                                                <span class="badge badge-pill badge-red">Hết hàng</span>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    

                    
                    <div class="d-md-flex m-b-15 col-6 align-items-center " style="flex-wrap: wrap;flex-direction: column;">
                        <div style="    padding-top: 22px;     padding-right: 444px;">
                            <h4 class="card-title">Ảnh chi tiết</h4>
                        </div>
                        <div class="media align-items-center m-b-15" id="img1" style="padding-right: 32px;align-items: flex-start">
                            @if (d >= 2)
                            {
                                <img src="~/ImageProduct/@Html.DisplayFor(m=>a[y[0]])" alt="your image" style="width: 280px; height: auto;" />
                            }
                            else
                            {
                                <div class="avatar avatar-image rounded" style="width: 280px; height: auto">
                                </div>
                            }
                        </div>
                        <div class="media align-items-center m-b-15" id="img2" style="padding-right: 32px;">
                            @if (d >= 3)
                            {
                                <img src="~/ImageProduct/@Html.DisplayFor(m=>a[y[1]])" alt="your image" style="width: 280px; height: auto;" />
                            }
                            else
                            {
                                <div class="avatar avatar-image rounded" style="width: 280px; height: auto">
                                </div>
                            }
                        </div>
                        <div class="media align-items-center m-b-15" id="img3" style="padding-right: 32px;">
                            @if (d >= 4)
                            {
                                <img src="~/ImageProduct/@Html.DisplayFor(m=>a[y[2]])" alt="your image" style="width: 280px; height: auto;" />
                            }
                            else
                            {
                                <div class="avatar avatar-image rounded" style="width: 280px; height: auto">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/others/product-1.jpg" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/others/product-2.jpg" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="assets/images/others/product-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
</div>
<script>
    for (var i = 0; i < $(".price").length; i++) {
        var a = $(".price")[i].value;
        a = a.replace('.00', '');
        $(".main")[i].innerHTML = a;
    }
    for (var i = 0; i < $(".price_2").length; i++) {
        var a = $(".price_2")[i].value;
        a = a.replace('.00', '');
        $(".main_2")[i].innerHTML = a;
    }
</script>