@model WebBriliFresh.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var data = new object[]{
        new{
            ten = "Sản phẩm của Brili Fresh",
            giatri = "Sản phẩm của Brili Fresh"
        },
        new{
            ten = "Sản phẩm nhập khẩu",
            giatri = "Sản phẩm nhập khẩu"
        }
    };

    var list = new SelectList(data, "giatri", "ten");
    var a = @Model.ProductImages.Where(x => x.ProId == @Model.ProId).Select(p => p.ImgData).ToList();

    var b = @Model.Stocks.Where(x => x.ProId == @Model.ProId).Sum(i => i.Quantity);
    var c = @Model.ProductImages.Where(x => x.ProId == @Model.ProId).Select(p => p.ImgData).ToList();
    var d = c.Count();

    int x = 0;
    int[] y = new int[3];
    int z = 0;
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="index" class="breadcrumb-item">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Chỉnh sửa sản phẩm</span>
        </nav>
    </div>
</div>
    <hr />

    <form asp-action="Edit" enctype="multipart/form-data">
        
        @for(int i = 0;i<a.Count;i++){
            if (a[i].Contains("is_avt")){
            x = i;
        }
        else{
            y[z] = i;
            z++;
        }
       }

        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class=" m-b-15 align-items-center ">
                        <div class="media align-items-center m-b-15">
                            <div class="avatar avatar-image rounded"  style="height: 140px; width: 140px">
                             @if(d>=1){
                                    <img id="blah" src="~/ImageProduct/@Html.DisplayFor(m=>a[x])" alt="your image" style='width: 100%;max-height: 100%'>
                            }
                            else{
                                    <img id="blah" src="#" alt="your image" style='width: 100%;max-height: 100%'>
                            }
                            </div>
                        </div>
                        <div class="m-b-15">
                            <input asp-for="File" type="file" id="image_submit" class="btn btn-primary" accept="image/gif, image/jpeg, image/png" style="display:none;" />
                            <label asp-for="File" id="choose_image" for="image_submit" class="btn-primary btn"> <i class="anticon anticon-save"></i> Đổi ảnh chính</label>
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="m-l-15">
                        <p class="text-muted m-b-0">Tên sản phẩm: @Model.ProName</p>
                        <p class="text-muted m-b-0">Mã sản phẩm: @Model.ProId</p>
                    </div>
                </div>
                
            </div>
            <hr />
    @*        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link show" id="one_tab" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" id="one_tab_2" data-toggle="tab" href="#product-images">Option Info</a>
            </li>
        </ul>*@
            <div class="tab-panes fades" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-md-flex m-b-15 align-items-center">
                                <div class="media align-items-center m-b-15" id="img1" style="padding-right: 32px">
                                    @if (d >= 2)
                                {
                                    <img src="~/ImageProduct/@Html.DisplayFor(m=>a[y[0]])" alt="your image" style="width: 280px; height: auto" />
                                }
                                else
                                {
                                    <div class="avatar avatar-image rounded" style="width: 280px; height: auto">
                                        </div>
                                }
                                </div>
                                <div class="media align-items-center m-b-15" id="img2" style="padding-right: 32px">
                                    @if (d >= 3)
                                {
                                    <img src="~/ImageProduct/@Html.DisplayFor(m=>a[y[1]])" alt="your image" style="width: 280px; height: auto" />
                                }
                                else
                                {
                                    <div class="avatar avatar-image rounded" style="width: 280px; height: auto">
                                        </div>
                                }
                                </div>
                                <div class="media align-items-center m-b-15" id="img3" style="padding-right: 32px">
                                    @if (d >= 4)
                                {
                                    <img src="~/ImageProduct/@Html.DisplayFor(m=>a[y[2]])" alt="your image" style="width: 280px; height: auto" />
                                }
                                else
                                {
                                    <div class="avatar avatar-image rounded" style="width: 280px; height: auto">
                                        </div>
                                }
                                </div>

                            </div>
                            <div class="m-b-15" style="padding-left: 40px; padding-top:110px;">
                                <input asp-for="Files" type="file" id="image_submit_2" class="btn btn-primary" multiple accept="image/gif, image/jpeg, image/png" style="display: none" />
                                <label asp-for="Files" id="choose_image" for="image_submit_2" class="btn-primary btn"> <i class="anticon anticon-save"></i> Đổi chi tiết</label>
                                <span asp-validation-for="Files" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="tab-content m-t-15">
            <div class="tab-panes fades" id="product-edit-basisc">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                         
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
                                <input type="hidden" asp-for="ProId" />
                                <div class="form-group">
                                    <label asp-for="ProName" class="control-label">Tên sản phẩm</label>
                                    <input asp-for="ProName" class="form-control" />
                                    <span asp-validation-for="ProName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Type.MainType" class="control-label">Danh mục sản phẩm</label>
                                    <select asp-for="Type.MainType" class="form-control" asp-items=ViewBag.MainType></select>
                                </div>
                                <div class="form-group" id="sub1">
                                    <label asp-for="TypeId" class="control-label">Loại sản phẩm</label>
                                    <select asp-for="TypeId" id="type1" class="form-control" asp-items=ViewBag.TypeId1></select>
                                </div>
                                <div class="form-group" id="sub2">
                                    <label asp-for="TypeId" class="control-label">Loại sản phẩm</label>
                                    <select asp-for="TypeId" id="type2" class="form-control" asp-items=ViewBag.TypeId2></select>
                                </div>
                                <div class="form-group" id="sub3">
                                    <label asp-for="TypeId" class="control-label">Loại sản phẩm</label>
                                    <select asp-for="TypeId" id="type3" class="form-control" asp-items=ViewBag.TypeId3></select>
                                </div>
                            <div class="form-group">
                                <label asp-for="OriginalPrice" class="control-label">Giá nhập</label>
                                <input asp-for="OriginalPrice" class="form-control" value="@Model.OriginalPriceString" />
                                <span asp-validation-for="OriginalPriceString" class="text-danger"></span>
                            </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label">Giá bán</label>
                                    <input asp-for="Price" class="form-control" value="@Model.PriceString" />
                                    <span asp-validation-for="PriceString" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Source" class="control-label">Nguồn gốc</label>
                                    <select asp-for="Source" class="form-control" asp-items=list></select>
                                    <span asp-validation-for="Source" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StartDate" class="control-label">Ngày tạo</label>
                                    <input asp-for="StartDate" id="myID" class="form-control" value="@Model.StartDate" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Des" class="control-label">Mô tả sản phẩm</label>
                                    <textarea asp-for="Des" class="form-control"></textarea>
                                    <span asp-validation-for="Des" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Unit" class="control-label">Đơn vị bán</label>
                                    <input asp-for="Unit" class="form-control"/>
                                    <span asp-validation-for="Unit" class="text-danger"></span>
                                </div>
                                <div class="form-group" hidden>
                                    <label asp-for="IsDeleted" class="control-label"></label>
                                    <input asp-for="IsDeleted" class="form-control" />
                                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                                </div>
                            <div class="form-group">
                                <tr>
                                    <td class="text-dark font-weight-semibold">Trạng thái</td>
                                    @if (b > 0)
                                    {
                                        <td>
                                            <span class="badge badge-pill badge-green">Còn hàng</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge badge-pill badge-red" style="font-size:12px; margin-left:36px">Hết hàng</span>
                                        </td>
                                    }
                                </tr>
                            </div>
                           
                            <div class="m-b-15 d-flex" style="justify-content: space-between;">
                                    <button asp-action="Edit" class="btn btn-primary">
                                        <i class="anticon anticon-save"></i>
                                        <span>Lưu thay đổi</span>
                                    </button>
                                <div>
                                    <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
                                 </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
        
    </form>

   

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script type="text/javascript" >
        

        var s1 = $("#sub1")
        var t1 = $("#type1")

        var s2 = $("#sub2")
        var t2 = $("#type2")

        var s3 = $("#sub3")
        var t3 = $("#type3")

        var maintype = $("#Type_MainType");
        $("#Type_MainType").click();

        t2.prop("disabled", true);
        t3.prop("disabled", true);

        s2.hide()
        s3.hide()

        

        maintype.click(function () {
            if (maintype.find(":selected").val() === 'Rau củ') {
                t2.prop("disabled", true);
                t3.prop("disabled", true);
                t1.prop("disabled", false);

                s2.hide()
                s3.hide()
                s1.show()
            } else if (maintype.find(":selected").val() === 'Thịt cá') {
                t2.prop("disabled", false);
                t3.prop("disabled", true);
                t1.prop("disabled", true);

                s2.show()
                s3.hide()
                s1.hide()
            } else {
                t2.prop("disabled", true);
                t3.prop("disabled", false);
                t1.prop("disabled", true);

                s2.hide()
                s3.show()
                s1.hide()
            }
        })

        

        $("#image_submit").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(140)
                        .height(140);
                };

                reader.readAsDataURL(this.files[0]);
            }       
        })

        var filesInput = document.getElementById("image_submit_2");
        filesInput.addEventListener("change", function (event) {
            var files = event.target.files; //FileList object

            var file1 = files[0];
            var file2 = files[1];
            var file3 = files[2];

            var outfile1 = document.getElementById("img1");
            var outfile2 = document.getElementById("img2");
            var outfile3 = document.getElementById("img3");

            var picReader1 = new FileReader();
            picReader1.addEventListener("load", function (event) {
                var picFile1 = event.target;
                outfile1.innerHTML = `<img src="${picFile1.result}" alt="your image" style="width: 280px; height: auto" />`;
            });
            picReader1.readAsDataURL(file1);

            var picReader2 = new FileReader();
            picReader2.addEventListener("load", function (event) {
                var picFile2 = event.target;
            outfile2.innerHTML = `<img src="${picFile2.result}" alt="your image" style="width: 280px; height: auto" />`;
            });
            picReader2.readAsDataURL(file2);

            var picReader3 = new FileReader();
            picReader3.addEventListener("load", function (event) {
                var picFile3 = event.target;
            outfile3.innerHTML = `<img src="${picFile3.result}" alt="your image" style="width: 280px; height: auto" />`;
            });
            picReader3.readAsDataURL(file3);
        });


        $(document).ready(function () {

            flatpickr("#myID", {
                altInput: true,
                altFormat: "d/m/Y",
                dateFormat: "m/d/Y",
            });


            t2.prop("disabled", true);
            t3.prop("disabled", true);

            s2.hide()
            s3.hide()


            maintype.click(function () {
                if (maintype.find(":selected").val() === 'Rau củ') {
                    t2.prop("disabled", true);
                    t3.prop("disabled", true);
                    t1.prop("disabled", false);

                    s2.hide()
                    s3.hide()
                    s1.show()
                } else if (maintype.find(":selected").val() === 'Thịt cá') {
                    t2.prop("disabled", false);
                    t3.prop("disabled", true);
                    t1.prop("disabled", true);

                    s2.show()
                    s3.hide()
                    s1.hide()
                } else {
                    t2.prop("disabled", true);
                    t3.prop("disabled", false);
                    t1.prop("disabled", true);

                    s2.hide()
                    s3.show()
                    s1.hide()
                }
            })
            $("#one_tab_2").click();
            $("#one_tab").click();
            $("#Type_MainType").click();
        })
        
    </script>


         