@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject WebBriliFresh.Models.BriliFreshDbContext _context;
@model WebBriliFresh.Models.ViewModels.DetailsProduct;
@using Microsoft.AspNetCore.Http;
@using WebBriliFresh.Models.DAO;
@using WebBriliFresh.Common;
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="~/Overviewproductassets/vegetable/detailvegetable.css">
    <link rel="stylesheet" href="~/OverviewProductAssets/vegetable/vegetable_Header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/Overviewproductassets/fruit/detailfruit.js">

</head>
<body>
     @*@await Html.PartialAsync("~/Views/Shared/_FruitHeaderPartialView.cshtml")*@
    @await Html.PartialAsync("~/Views/Shared/_FruitHeaderPartialView_login.cshtml")


    <section class="directory mt-3">
        <nav class="navbar navbar-expand-xl navbar-light ">
            <div class="container-fluid ms-5">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                        <li class="breadcrumb-item"><a href="#">Trái cây 4 mùa</a></li>


                        @if(Model.product.TypeId==8){
                            <li class="breadcrumb-item"><a href="">Rau lá</a></li>
                        }
                        else if (Model.product.TypeId == 9)
                        {
                            <li class="breadcrumb-item"><a href="">Củ và hạt</a></li>
                        }
                        else if (Model.product.TypeId == 10)
                        {
                            <li class="breadcrumb-item"><a href="">Quả trái</a></li>
                        }
                        else if (Model.product.TypeId == 11)
                        {
                            <li class="breadcrumb-item"><a href="">Rau gia vị</a></li>
                        }
                        else if (Model.product.TypeId == 12)
                        {
                            <li class="breadcrumb-item"><a href="">Nấm</a></li>
                        }
                         <li class="breadcrumb-item active" style="color:#118129;" aria-current="page">@Model.product.ProName</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </section>

    @{
        ProductServices productService = new ProductServices();
        var dis = productService.getDiscount(Model.product.ProId);
    }
    <section class="product scaled-product">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-item-center mx-auto">
                <div class="product-imgs justify-content-center aligns-items-center ms-0">
                    <div class="row product-img-main">
                        @{
                            var a = _context.ProductImages.Where(x => x.ProId == Model.product.ProId && x.ImgData.Contains("is_avt"));
                            var i = a.FirstOrDefault();
                        }
                        @if (i != null)
                        {
                            var m = @i.ImgData;
                            <img src="~/ImageProduct/@m" alt="" id="img-main">
                        }
                        else
                        {
                            <img src="~/ImageProduct/none.jpg" alt="" class="product-item-img-child" />
                        }

                    </div>
                    <div class="product-img-album align-items-center">
                        <ul class="d-flex img-album-list">
                            <li class="">
                                @*<img src="~/OverviewProductAssets/images/product-info/p-album1.png" alt="" id="img-album-1">*@
                                <img src="~/ImageProduct/@(Model.productImgs.Count > 1 ?  Model.productImgs[1] : Model.productImgs[0])" alt="" id="img-album-1">

                            </li>
                            <li class="">
                                @*<img src="~/OverviewProductAssets/images/product-info/p-album1.png" alt="" id="img-album-2">*@
                                <img src="~/ImageProduct/@(Model.productImgs.Count > 2 ?  Model.productImgs[2] : Model.productImgs[0])" alt="" id="img-album-2">

                            </li>
                            <li class="">
                                @*<img src="~/OverviewProductAssets/images/product-info/p-album4.png" alt="" id="img-album-3">*@
                                <img src="~/ImageProduct/@(Model.productImgs.Count > 3 ?  Model.productImgs[3] : Model.productImgs[0])" alt="" id="img-album-3">
                            </li>
                            <li class="">
                                @*<img src="~/OverviewProductAssets/images/product-info/p-album4.png" alt="" id="img-album-4">*@
                                <img src="~/ImageProduct/@(Model.productImgs.Count > 4 ?  Model.productImgs[4] : Model.productImgs[0])" alt="" id="img-album-4">
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="product-info justify-content-center align-items-center">
                    <div class="product-info-title">
                        @*Ba rọi heo (Nhập khẩu) 500g*@
                        @Model.product.ProName (@Model.product.Unit)
                        <div class="product-info-star d-flex justify-content-left align-items-left mb-auto ">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ratings">
                                    <i class="fa fa-star    "></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star"></i>
                                </div>&nbsp;
                                (Xem&nbsp;<span comment-count> @Model.feedbacks.Count </span>&nbsp;đánh giá)
                                &nbsp;<div class="mt-2" style="border-left:1px solid #8F8C8C;height:20px"></div>&nbsp;
                                &nbsp;Đã bán&nbsp;<span sold-count>5000</span>+

                            </div>

                        </div>
                        <div class="product-info-cost d-flex  align-items-center mt-3 me-auto">
                            <div class="product-info-cost-detail ps-4 pt-1 pb-2 me-auto justify-content-center align-items-center">
                                <div class="new-cost">
                                    @*<span value="80000">80.000 đ</span>*@
                                    <span value="@(Model.product.Price*(decimal)(1-Model.discount.Value))">@((Model.product.Price * (decimal)(1 - Model.discount.Value)).ToString("#,##0"))</span>
                                </div>

                                @if (dis.Value != 0)
                                {
                                    <div class="old-dis-cost d-flex">
                                        <span class="old-cost me-2" value="@Model.product.Price">@Model.product.Price.ToString("#,##0")</span>
                                        <span class="dis-cost" value="@(Model.discount.Value*100.0)">@(Model.discount.Value * 100.0)%</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="old-dis-cost d-flex" style="visibility: hidden;">
                                        <span class="old-cost me-2" style="visibility: hidden;" value="@Model.product.Price">@Model.product.Price.ToString("#,##0")</span>
                                        <span class="dis-cost" style="visibility: hidden;" value="@(Model.discount.Value*100.0)">@(Model.discount.Value * 100.0)%</span>
                                    </div>
                                }

                            </div>
                            @if (dis.Value != 0)
                            {
                                <div class="countdown-sale align-items-center justify-content-center me-2 ">
                                    <div class="info mx-2 my-auto">
                                        <span>Kết thúc sau</span>
                                    </div>
                                    <div class="count-down-sale d-flex mt-1 mb-1">
                                        <div class="hours-countdown box-countdown cd-bg mx-1">
                                            <div class="countdown-num mx-auto">
                                                06
                                            </div>
                                        </div>
                                        <div class="count-down-sale-split">:</div>
                                        <div class="minute-countdown box-countdown cd-bg mx-1">
                                            <div class="countdown-num mx-auto">
                                                06
                                            </div>
                                        </div>
                                        <div class="count-down-sale-split">:</div>
                                        <div class="second-countdown box-countdown cd-bg mx-1">
                                            <div class="countdown-num mx-auto ">
                                                06
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info mx-2 my-auto">
                                        <span>Vừa mở bán</span>
                                    </div>

                                </div>
                            }

                        </div>
                        <div class="c-title mt-3">
                            <span>Số lượng</span>
                        </div>
                        <div class="row product-quantity ">
                            <div class="col-xl-3 ">
                                <div class="input-group">
                                    <div class="input-group-btn justify-content-end align-items-center ">

                                        <button type="button" class="quantity-left-minus btn btn-default btn-number" data-type="minus" data-field="">
                                            <i class="fa fa-minus"></i>

                                        </button>
                                    </div>

                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">

                                    <div class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-default btn-number " data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex mt-4">
                            @* @{
                            ProductServices productService = new ProductServices();
                            var dis = productService.getDiscount(Model.product.ProId);
                            }*@

                            <div class="btn-buy me-2">
                                @*<input type="button" id="btn-buy"  value="CHỌN MUA"></input>*@
                                <button type="button" id="btn-buy" data-id="@Model.product.ProId" data-storeid="@HttpContextAccessor.HttpContext.Session.GetInt32(CommonConstants.SessionStoreId)" data-saleprice="@(Model.product.Price*((decimal)(1-dis.Value)))" class="product-item-add-btn">Mua hàng</button>
                            </div>
                            <div class="btn-chat me-4">

                                <input type="button" id="btn-chat" value="CHAT"></input>

                            </div>

                        </div>

                        <div class="cr-info mt-5" style="display: flex;">
                            <div class="brand-info d-flex col-2">
                                <span class="name brand-name me-auto">Thương hiệu:</span>

                            </div>
                            <div class="country d-flex col-6">
                                <span id="content">@Model.product.Source</span>
                            </div>
                        </div>
                        <div class="description mt-3 mb-auto">
                            @if (@Model.product.Des.Length <= 240)
                            {
                                <span class="description-title">
                                    @Model.product.Des
                                </span>

                            }
                            else
                            {
                                <span class="description-title">
                                    @Model.product.Des.Substring(0, 240)<button class="more-desc">Xem thêm</button>
                                </span>
                                <span class="description-body" style="display: block;">
                                    @{
                                        var length = Model.product.Des.Length;
                                    }
                                    @Model.product.Des.Substring(240,@length-240)
                                </span>
                                <p class="description-body">
                                    <button class="less-desc">Rút gọn</button>
                                </p>
                            }


                        </div>



                    </div>
                </div>
            </div>
    </section>
    <section class="items-recommended scaled-recommended justify-content-center align-items-center">
        <div class="container-fluid mt-5">
            <div class="row justify-content-center text-align-center scale-container">
                <div class="">
                    <div class="items-recommended-bar d-flex align-items-center">
                        <p class="items-recommended-title col-2 pt-3 ms-3">
                            Gợi ý cho bạn
                        </p>

                        <div class="more-items text-center align-item-center me-3">
                            <a href="#" class="p-more-item">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="items-container mt-5 ms-3">
            <div class="d-flex justify-content-between align-items-center text-align-center ms-0 p-0 list-items">
                <div class="list-products col-12 row d-flex" style="justify-content: space-evenly; margin: 0px;">
                    <div class="product-item col-2">
                        <div class="product-item-img">
                            <img src="./images/items/bongcai.png" alt="" class="product-item-img-child" />
                        </div>
                        <div class="product-item-tittle">
                            <p class="product-item-tittle-child">Thăn lưng bò mỹ (200g)</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="product-item-price">
                                <p class="product-item-price-child">99,000</p>
                            </div>
                            <div class="product-item-add">
                                <button class="product-item-add-btn">+</button>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="product-item-price-dis">
                                <p class="product-item-price-dis-child">199,000</p>
                            </div>
                            <div class="dis-rate">
                                <p class="dis-rate-child">-20%</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item col-2">
                        <div class="product-item-img">
                            <img src="./images/items/bongcai.png" alt="" class="product-item-img-child" />
                        </div>
                        <div class="product-item-tittle">
                            <p class="product-item-tittle-child">Thăn lưng bò mỹ (200g)</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="product-item-price">
                                <p class="product-item-price-child">99,000</p>
                            </div>
                            <div class="product-item-add">
                                <button class="product-item-add-btn">+</button>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="product-item-price-dis">
                                <p class="product-item-price-dis-child">199,000</p>
                            </div>
                            <div class="dis-rate">
                                <p class="dis-rate-child">-20%</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item col-2">
                        <div class="product-item-img">
                            <img src="./images/items/bongcai.png" alt="" class="product-item-img-child" />
                        </div>
                        <div class="product-item-tittle">
                            <p class="product-item-tittle-child">Thăn lưng bò mỹ (200g)</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="product-item-price">
                                <p class="product-item-price-child">99,000</p>
                            </div>
                            <div class="product-item-add">
                                <button class="product-item-add-btn">+</button>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="product-item-price-dis">
                                <p class="product-item-price-dis-child">199,000</p>
                            </div>
                            <div class="dis-rate">
                                <p class="dis-rate-child">-20%</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item col-2">
                        <div class="product-item-img">
                            <img src="./images/items/bongcai.png" alt="" class="product-item-img-child" />
                        </div>
                        <div class="product-item-tittle">
                            <p class="product-item-tittle-child">Thăn lưng bò mỹ (200g)</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="product-item-price">
                                <p class="product-item-price-child">99,000</p>
                            </div>
                            <div class="product-item-add">
                                <button class="product-item-add-btn">+</button>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="product-item-price-dis">
                                <p class="product-item-price-dis-child">199,000</p>
                            </div>
                            <div class="dis-rate">
                                <p class="dis-rate-child">-20%</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-item col-2">
                        <div class="product-item-img">
                            <img src="./images/items/bongcai.png" alt="" class="product-item-img-child" />
                        </div>
                        <div class="product-item-tittle">
                            <p class="product-item-tittle-child">Thăn lưng bò mỹ (200g)</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="product-item-price">
                                <p class="product-item-price-child">99,000</p>
                            </div>
                            <div class="product-item-add">
                                <button class="product-item-add-btn">+</button>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <div class="product-item-price-dis">
                                <p class="product-item-price-dis-child">199,000</p>
                            </div>
                            <div class="dis-rate">
                                <p class="dis-rate-child">-20%</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="gap mt-5">
    </div>


    <section class="comments scaled-comments">
        <div class="container-fluid mt-5">
            <div class="row comments-header mb-4">
                <span>Đánh Giá-Nhận Xét Từ Khách Hàng</span>
            </div>
            <div class="row comment-info">
                <div class="container-fluid mt-2 d-flex mb-auto">
                    <div class="col-3 comment-info-star justify-content-center align-items-center me-0">
                        <div class="comment-info-star-total d-flex">
                            <div class="avg-star ms-auto">
                                <span id="avg-star">4.9</span>
                            </div>
                            <div class="total-comment-star mx-auto">
                                <div class="total-comment-star-details">
                                    <div class="star-5 d-flex">
                                        <div class="info-star-total d-flex justify-content-left align-items-left mt-auto mb-auto ">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="ratings">
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-commnent mt-1">
                                    <span id="total-comment">123</span><span>&nbsp;Nhận xét</span>
                                </div>
                            </div>
                        </div>

                        <div class="comment-info-star-details ms-4">
                            <div class="star-5 d-flex">
                                <div class="info-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto ">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="rating">
                                            <i class="fa fa-star checked "></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star checked"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress col-5 my-auto mx-auto" style="height:5px">
                                    <div class="star-progress-bar" style="width:70%"></div>
                                </div>
                                <div class="total-progress-bar">123</div>
                            </div>
                            <div class="star-4 d-flex">
                                <div class="info-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto ">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="rating">
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star non-checked"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress col-5 my-auto mx-auto" style="height:5px">
                                    <div class="star-progress-bar" style="width:70%"></div>
                                </div>
                                <div class="total-progress-bar">123</div>
                            </div>
                            <div class="star-3 d-flex">
                                <div class="info-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="rating">
                                            <i class="fa fa-star checked "></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color non-checked"></i>
                                            <i class="fa fa-star non-checked"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress col-5 my-auto mx-auto" style="height:5px">
                                    <div class="star-progress-bar" style="width:70%"></div>
                                </div>
                                <div class="total-progress-bar">123</div>
                            </div>
                            <div class="star-2 d-flex">
                                <div class="info-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="rating">
                                            <i class="fa fa-star checked "></i>
                                            <i class="fa fa-star rating-color checked"></i>
                                            <i class="fa fa-star rating-color non-checked"></i>
                                            <i class="fa fa-star rating-color non-checked"></i>
                                            <i class="fa fa-star non-checked"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress col-5 my-auto mx-auto" style="height:5px">
                                    <div class="star-progress-bar" style="width:70%"></div>
                                </div>
                                <div class="total-progress-bar">123</div>
                            </div>
                            <div class="star-1 d-flex">
                                <div class="info-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="rating">
                                            <i class="fa fa-star checked"></i>
                                            <i class="fa fa-star rating-color non-checked"></i>
                                            <i class="fa fa-star rating-color non-checked"></i>
                                            <i class="fa fa-star rating-color non-checked"></i>
                                            <i class="fa fa-star non-checked"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress col-5 my-auto mx-auto" style="height:5px">
                                    <div class="star-progress-bar" style="width:70%"></div>
                                </div>
                                <div class="total-progress-bar">123</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 comment-info-imgs me-auto ms-5">
                        <span class="title ms-4">Tất cả hình ảnh</span><span class="title" id="total-comment"> &nbsp;(25)</span>
                        <div class="product-img-album mt-3 ms-0 me-auto col-12">
                            <ul class="row d-flex comment-img-album-list">
                                <li class="ms-0 me-4">
                                    <img src="./images/comment/cmt1.png" alt="" id="img comment-img-album-1">
                                </li>
                                <li class="me-4">
                                    <img src="./images/comment/cmt2.png" alt="" id=" img comment-img-album-2">

                                </li>
                                <li class="me-4">
                                    <img src="./images/comment/cmt3.png" alt="" id=" img comment-img-album-3">

                                </li>
                                <li class="me-4">
                                    <img src="./images/comment/cmt4.png" alt="" id="img comment-img-album-4">

                                </li>
                                <li class="">
                                    <a href="#" class="">
                                        <img src="./images/comment/cmt5.png" alt="" id="img comment-img-album-5">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="filter-comments d-flex mt-5 mb-5 me-5">
                            <span class="title me-1 ms-5 mt-2 col-3">Lọc xem theo:</span>
                            <div class="filter-comment-detail d-flex align-items-center">
                                <div class="filter-comment filter-comment-new me-4 col-3 text-center pt-2">
                                    <span class="">Mới nhất</span>
                                </div>
                                <div class="filter-comment filter-comment-picture me-4 col-4 text-center pt-2">
                                    <span class="">Có hình ảnh</span>
                                </div>
                                <div class="filter-comment-star mx-auto text-center me-3 col-2" id="5-start">
                                    <span>5<i class="fa-regular fa-star mt-2"></i>  </span>
                                </div>
                                <div class="filter-comment-star mx-auto text-center me-3 col-2" id="4-start">
                                    <span>4<i class="fa-regular fa-star mt-2"></i>  </span>
                                </div>
                                <div class="filter-comment-star  mx-auto text-center me-3 col-2" id="3-start">
                                    <span>3<i class="fa-regular fa-star mt-2"></i>  </span>
                                </div>
                                <div class="filter-comment-star  mx-auto text-center me-3 col-2" id="2-start">
                                    <span>2<i class="fa-regular fa-star mt-2"></i>  </span>
                                </div>
                                <div class="filter-comment-star  mx-auto text-center me-auto col-2" id="1-start">
                                    <span>1<i class="fa-regular fa-star mt-2"></i>  </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- <div class="split "></div> -->
    <div class="gap mt-5"></div>
    <section class="user-comments scaled-comment">
        <div class="user-comment mb-5 " id="user-id">
            <div class=" row mt-2">
                <div class="container container-comment d-flex mt-4 ms-0 me-1">
                    <div class="user-comment-info d-flex">
                        <div class="user-avatar me-3" id="user-avatar">
                        </div>
                        <div class="user-name me-5">
                            <span id="user-name">Nguyễn Minh Cường</span>
                            <div class="user-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="rating">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star checked    "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="user-comment-time mt-2">
                                <span id="user-comment-time">2022-10-07  15:46</span>
                            </div>
                            <div class="smell d-flex mt-4">
                                <span id="smell">Hương vị:&nbsp;</span>
                                <span id="smell-comment">tươi ngon</span>
                            </div>
                            <div class="pack d-flex mt-4">
                                <span id="pack">Bao bì/Mẫu mã:&nbsp;</span>
                                <span id="pack-comment">đẹp</span>
                            </div>
                            <div class="desc-detail mt-4">
                                <span id="desc-detail">Shop đóng gói đẹp, thịt thơm ngon vẫn còn tươi, mềm</span>
                            </div>
                            <div class="img-comment mt-4 mb-5 ">
                                <ul class="d-flex user-cmt-imgs p-0">
                                    <li class="ms-0 ">
                                        <img src="./images/comment/cmt1.png" alt="" id="comment-img-album-1">
                                    </li>
                                    <li class="ms-4 ">
                                        <img src="./images/comment/cmt2.png" alt="" id="comment-img-album-2">

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <a href="#" value="">
                            <div class="liked ms-0 d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-thumbs-up"></i>&nbsp;
                                <span class="user-like" id="user-like-id">Hữu ích</span>
                            </div>

                        </a>

                    </div>
                </div>
            </div>

        </div>
        <div class="user-comment mb-5 " id="user-id">
            <div class="row mt-2">
                <div class="container-fluid container-comment d-flex mt-4">
                    <div class="user-comment-info d-flex">
                        <div class="user-avatar me-3" id="user-avatar">
                        </div>
                        <div class="user-name me-auto">
                            <span id="user-name">Nguyễn Minh Cường</span>
                            <div class="user-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="rating">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star checked    "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="user-comment-time mt-2">
                                <span id="user-comment-time">2022-10-07  15:46</span>
                            </div>
                            <div class="smell d-flex mt-4">
                                <span id="smell">Hương vị:&nbsp;</span>
                                <span id="smell-comment">tươi ngon</span>
                            </div>
                            <div class="pack d-flex mt-4">
                                <span id="pack">Bao bì/Mẫu mã:&nbsp;</span>
                                <span id="pack-comment">đẹp</span>
                            </div>
                            <div class="desc-detail mt-4">
                                <span id="desc-detail">Shop đóng gói đẹp, thịt thơm ngon vẫn còn tươi, mềm</span>
                            </div>
                            <div class="img-comment mt-4 mb-5 ">
                                <ul class="d-flex user-cmt-imgs p-0">
                                    <li class="ms-0">
                                        <img src="./images/comment/cmt1.png" alt="" id="comment-img-album-1">
                                    </li>
                                    <li class="ms-4">
                                        <img src="./images/comment/cmt2.png" alt="" id="comment-img-album-2">

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <a href="#" value="">
                            <div class="liked ms-auto d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-thumbs-up"></i>&nbsp;
                                <span class="user-like" id="user-like-id">Hữu ích</span>
                            </div>

                        </a>

                    </div>
                </div>
            </div>

        </div>
        <div class="user-comment mb-5 " id="user-id">
            <div class="row mt-2">
                <div class="container-fluid container-comment d-flex mt-4">
                    <div class="user-comment-info d-flex">
                        <div class="user-avatar me-3" id="user-avatar">
                        </div>
                        <div class="user-name me-auto">
                            <span id="user-name">Nguyễn Minh Cường</span>
                            <div class="user-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="rating">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star checked    "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="user-comment-time mt-2">
                                <span id="user-comment-time">2022-10-07  15:46</span>
                            </div>
                            <div class="smell d-flex mt-4">
                                <span id="smell">Hương vị:&nbsp;</span>
                                <span id="smell-comment">tươi ngon</span>
                            </div>
                            <div class="pack d-flex mt-4">
                                <span id="pack">Bao bì/Mẫu mã:&nbsp;</span>
                                <span id="pack-comment">đẹp</span>
                            </div>
                            <div class="desc-detail mt-4">
                                <span id="desc-detail">Shop đóng gói đẹp, thịt thơm ngon vẫn còn tươi, mềm</span>
                            </div>
                            <div class="img-comment mt-4 mb-5 ">
                                <ul class="d-flex user-cmt-imgs p-0">
                                    <li class="ms-0">
                                        <img src="./images/comment/cmt1.png" alt="" id="comment-img-album-1">
                                    </li>
                                    <li class="ms-4">
                                        <img src="./images/comment/cmt2.png" alt="" id="comment-img-album-2">

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <a href="#" value="">
                            <div class="liked ms-auto d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-thumbs-up"></i>&nbsp;
                                <span class="user-like" id="user-like-id">Hữu ích</span>
                            </div>

                        </a>

                    </div>
                </div>
            </div>

        </div>
        <div class="user-comment mb-5 " id="user-id">
            <div class="row mt-2">
                <div class="container-fluid container-comment d-flex mt-4">
                    <div class="user-comment-info d-flex">
                        <div class="user-avatar me-3" id="user-avatar">
                        </div>
                        <div class="user-name me-auto">
                            <span id="user-name">Nguyễn Minh Cường</span>
                            <div class="user-star d-flex justify-content-left align-items-left mt-auto mb-auto me-auto">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="rating">
                                        <i class="fa fa-star checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star rating-color checked"></i>
                                        <i class="fa fa-star checked    "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="user-comment-time mt-2">
                                <span id="user-comment-time">2022-10-07  15:46</span>
                            </div>
                            <div class="smell d-flex mt-4">
                                <span id="smell">Hương vị:&nbsp;</span>
                                <span id="smell-comment">tươi ngon</span>
                            </div>
                            <div class="pack d-flex mt-4">
                                <span id="pack">Bao bì/Mẫu mã:&nbsp;</span>
                                <span id="pack-comment">đẹp</span>
                            </div>
                            <div class="desc-detail mt-4">
                                <span id="desc-detail">Shop đóng gói đẹp, thịt thơm ngon vẫn còn tươi, mềm</span>
                            </div>
                            <div class="img-comment mt-4 mb-5 ">
                                <ul class="d-flex user-cmt-imgs p-0">
                                    <li class="ms-0">
                                        <img src="./images/comment/cmt1.png" alt="" id="comment-img-album-1">
                                    </li>
                                    <li class="ms-4">
                                        <img src="./images/comment/cmt2.png" alt="" id="comment-img-album-2">

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <a href="#" value="">
                            <div class="liked ms-auto d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-thumbs-up"></i>&nbsp;
                                <span class="user-like" id="user-like-id">Hữu ích</span>
                            </div>

                        </a>

                    </div>
                </div>
            </div>

        </div>
        <section class="pag mt-3">
            <div class="row ">
                <div class="container d-flex ">
                    <ul class="list-page d-flex text-dark align-items-right justify-content-right ms-auto me-5  ">
                        <li class="page-item-pre mx-auto">
                            <a class="page-link-nonebs text-dark" href="#" aria-label="Previous" id="pre">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item mx-2"><a class="page-link-nonebs text-dark" href="#">1</a></li>
                        <li class="page-item mx-2"><a class="page-link-nonebs text-dark" href="#">2</a></li>
                        <li class="page-item mx-2"><a class="page-link-nonebs text-dark" href="#">3</a></li>
                        <li class="page-item mx-2"><a class="page-link-nonebs text-dark" href="#">...</a></li>
                        <li class="page-item-next mx-auto">
                            <a class="page-link-nonebs text-dark" href="#" aria-label="Next" id="next">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </section>


    <section class="footer mt-5 ">
        <div class="container-fluid container-footer">
            <div class="row brand-footer mt-2">
                <!-- Footer -->
                <div class="logo-name-footer me-1 my-lg-2">
                    <a class="navbar-brand" href="#">
                        <img id="logo" src="./images/newlogo.png" class="position-start"></img>
                        <span class="firstName-footer p-1">Brili<span class="lastName-footer">Fresh</span></span>
                    </a>
                </div>
                <!-- Section: Social media -->
                <!-- Left -->
                <!-- Section: Social media -->
                <!-- Section: Links  -->
                <section class="info-footer p-0">
                    <div class="container text-center text-md-start mt-0 p-0">
                        <!-- Grid row -->
                        <div class="d-flex mt-4 mb-0">
                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 font-16">
                                <!-- Links -->

                                <p><i class="fas fa-home me-3"></i> 319 C16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM</p>
                                <p><i class="fas fa-phone me-3"></i> 1900 343 756</p>
                                <p>
                                    <i class="fas fa-envelope me-3"></i>
                                    brilifresh@gmail.com
                                    thucphamsach@brili.media
                                </p>
                                <a href="" class="me-4 text-reset text-decoration-none">
                                    <p>
                                        <i class="fab fa-facebook-f me-2"></i>
                                        facebook.com/brilifresh
                                    </p>
                                </a>

                            </div>


                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-0 title-footer ms-5 ">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4 font-24">
                                    Sản phẩm
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none font-16">Rau củ</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none font-16">Hải sản</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none font-16">Trái cây</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none font-16">Thịt trứng</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-0 title-footer">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4 font-24">
                                    Danh mục
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">Trang chủ</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">Giới thiệu</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">Sản phẩm</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">Kiến thức</a>
                                </p>
                            </div>
                            <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-0 title-footer">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4 font-24">
                                    Kết nối với chúng tôi
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">
                                        <i class="fab fa-facebook-f me-4"></i>Kết nối qua Facebook
                                    </a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">
                                        <i class="fab fa-instagram me-3"></i>
                                        Kết nối qua Instagram
                                    </a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset text-decoration-none  font-16">
                                        <i class="fab fa-tiktok me-4"></i>
                                        Kết nối qua Tiktok
                                    </a>
                                </p>

                            </div>

                            <!-- Grid column -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Links  -->
                <!-- Copyright -->
                <!-- <div class="text-center p-4" >
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div> -->
                <!-- Copyright -->
                <!-- Footer -->
            </div>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="~/Overviewproductassets/vegetable/detailvegetable.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            $(".product-item-add-btn").click(function () {
                /* $("#success").click();*/
                console.log($("#quantity").val())
                toastr.success("Sản phẩm vào giỏ hàng!!!");
                $.ajax({
                    url: "/BuyAndPay/AddToCart",
                    data: {
                        proId: $(this).data("id"),
                        storeid: $(this).data("storeid"),
                        saleprice: $(this).data("saleprice"),
                        quantity:$("#quantity").val(),
                        type: "ajax"
                    },
                    success: function (data) {
                        $("#quantity_cart").html(data.quantity);
                    }
                });
            });
        });
    </script>
</body>
</html>
