@model IEnumerable<WebBriliFresh.Models.Customer>

@{
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách khách hàng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <label class="control-label">Chọn loại khách hàng</label>
                        <select class="custom-select" id="id-filter-reward" name="id-filter-reward" style="min-width: 100px;" asp-items="ViewBag.RewardId" onChange="search(this);">
                            <option value="all" selected>Tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID khách</th>
                        <th>Họ tên</th>
                        <th>Giới tính </th>
                        <th>SĐT</th>
                        <th>Email</th>
                        <th>Loại khách hàng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CusId)</td>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <h6 class="m-b-0 m-l-10">@Html.DisplayFor(modelItem => item.LastName)</h6>
                                        <h6 class="m-b-0 m-l-10">@Html.DisplayFor(modelItem => item.FirstName)</h6>
                                    </div>
                                </td>

                                @if (item.Gender == 1)
                                {
                                    <td>Nam</td>
                                }
                                else if (item.Gender == 2)
                                {
                                    <td>Nữ</td>
                                }
                                else
                                {
                                    <td>Khác</td>
                                }
                                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                @if (item.Reward.CusType == 1)
                                {
                                    <td>Vàng</td>
                                }
                                else if (item.Reward.CusType == 2)
                                {
                                    <td>Bạc</td>
                                }
                                else
                                {
                                    <td>Đồng</td>
                                }

                                <td class="text-right">
                                    <a style="padding: 12px 20px;" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CusId">
                                        Xem chi tiết
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>