@inject WebBriliFresh.Models.BriliFreshDbContext _context;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject WebBriliFresh.Models.BriliFreshDbContext _context;
@using Microsoft.AspNetCore.Http;
@using WebBriliFresh.Common;
@using WebBriliFresh.Helpers;
@using WebBriliFresh.Models.DTO;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    var user_id = @HttpContextAccessor.HttpContext.Session.GetInt32("CUS_SESSION_USERID");
    var info_account = _context.Users.Where(x => x.Id == user_id).FirstOrDefault();
    var info_cus = _context.Customers.Where(x => x.UserId == user_id).FirstOrDefault();

    var Model = _context.Stores.Where(x => x.IsDeleted == 0).ToList();

}
<section class="header scaled-header mx-lg-1 mx-sm-auto my-auto">
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container-fluid mx-sm-auto">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="logo-name ms-auto my-lg-2">
                    <a class="navbar-brand" href="#">
                        <img id="logo" src="~/OverviewProductAssets/images/newlogo.png" class="position-start"></img>
                        <span class="firstName p-1">Brili<span class="lastName">Fresh</span></span>
                    </a>
                </div>

                <form class="d-flex align-item-center justify-content-center ms-auto header-form me-auto" style="margin: 0;">

                    <button class="btnHome inline-block" type="button" onclick="location.href='@Url.Action("Index", "Home")'">
                        <!-- <img id="home" src="~/OverviewProductAssets/images/Homebutton.png" class="imgHome me-auto mx-sm-auto"></img> -->
                    </button>
                    <div class="location_container">
                        @foreach (var item in Model)
                        {
                            if (item.StoreId == HttpContextAccessor.HttpContext.Session.GetInt32(CommonConstants.SessionStoreId))
                            {
                                <div class="direction change-location-store ms-3 me-3 d-flex">
                                    <i class="ti-location-pin" style="font-size:20px !important;padding-right: 8px;padding-bottom: 16px;"></i>
                                    <p class="direction-detail" data-storeid="@item.StoreId" type="button" style="margin-top: 5px;">@item.SpecificAddress, @item.Ward, @item.District, @item.City</p>
                                </div>
                            }
                        }

                        <div class="list_location display_list_location">
                            <div class="location_item">
                                <ol class="location_item_list">
                                    @foreach (var item in Model)
                                    {
                                        if (item.StoreId != HttpContextAccessor.HttpContext.Session.GetInt32(CommonConstants.SessionStoreId))
                                        {
                                            <li class="location_item_child"><a type="button" data-storeid="@item.StoreId" href="@Url.Action("changeid","Home" , new {  storeid = @item.StoreId})">@item.SpecificAddress, @item.Ward, @item.District, @item.City</a></li>
                                        }
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="search-container">
                        <input class="form-control ms-0 search-input" type="search" placeholder="Tìm kiếm thực phẩm" aria-label="Search">
                        </input>
                        <ul class="list-group" id="result-search" style="display:none; position: absolute;">
                        </ul>
                    </div>
                    <div class="search-button">
                        <button type="button" id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>


                </form>
                <div class="navbar-nav me-auto mb-lg-0 align-item-center p-1 nav-right">

                    @if (HttpContextAccessor.HttpContext.Session.GetString("CUS_SESSION_CUSNAME") != null)
                    {
                        <div class="nav-item col-11 mt-1 d-flex justify-content-between align-item-center">
                            <li class="header__navbar-name nav-link active">@info_cus.LastName @info_cus.FirstName</li>
                            <li class="header__navbar-avt nav-link active"><img src="~/MyAccountAssets/UserPhotos/@HttpContextAccessor.HttpContext.Session.GetString("CUS_SESSION_AVATAR")" alt="" id="avartar_user"></li>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item col-4 mt-1" style="width: fit-content; padding-left: 40px; padding-right: 4px;">
                            <a class="nav-link active" href="#">Đăng kí</a>
                        </div>
                        <div class="nav-item mt-2">
                            <p>/</p>
                        </div>
                        <div class="nav-item col-5 mt-1">
                            <a class="nav-link active" aria-current="page" href="#">Đăng nhập</a>
                        </div>
                    }


                    <!-- <div class="vr mt-2"></div> -->
                    <div class="mt-2 " style="border-left:1px solid #8F8C8C;height:25px"></div>
                    <div class="d-flex nav-item mt-2 ms-3 align-item-center justify-content-center" style="margin-top: 0px !important;" onclick='window.location = "@Url.Action("CartInfoCheck", "BuyAndPay")"'>
                        <div class="i_cart_shoping">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-item count_product align-item-right ms-2 mt-2" onclick='window.location = "@Url.Action("CartInfoCheck", "BuyAndPay")"'>
                            @* <p id="quantity_cart" class="bought_product pe-1">0</p>*@
                            <p id="quantity_cart" class="number-item bought_product pe-1">
                                @{
                                    var data = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCartViewModel>>(CommonConstants.SessionCart);
                                    if (data == null)
                                    {
                                        data = new List<ShoppingCartViewModel>();
                                    }
                                    @data.Where(x=>x.StoreId==HttpContextAccessor.HttpContext.Session.GetInt32(CommonConstants.SessionStoreId)).Sum(x=>x.Quantity)
                                }
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</section>