@model WebBriliFresh.Models.User
@using Microsoft.AspNetCore.Http;
@using WebBriliFresh.Common;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
    var a = Model.Avatar;
}

<h1>Thông tin tài khoản</h1>

<hr />
<div class="row"> 
    <div class="col-md-4">
        <h1 hidden id="get_id" data-id="@Model.UserId"></h1>
        <h4>@HttpContextAccessor.HttpContext.Session.GetString("ADMIN_SESSION_LASTNAME") @HttpContextAccessor.HttpContext.Session.GetString("ADMIN_SESSION_FIRSTNAME")</h4>
        <div class="media align-items-center mb-2">
            <div class="avatar avatar-image  m-h-10 m-r-15" style="height: 80px; width: 80px">
                @if(a==null){
                <img src="#" id="blah" asp-append-version="true" width="150px" height="150px" alt="">
                }else{
                <img src="~/ImageUser/@a" id="blah" asp-append-version="true" width="150px" height="150px" alt="">
                }
            
            </div>
            
        </div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="UserRole" />
            <div class="form-group">
                <input asp-for="ImageFile" type="file" id="image_submit" class="btn btn-primary" class="form-control" accept="image/*" style="display:none;" />
                <label asp-for="ImageFile" id="choose_image" for="image_submit" class="btn btn-primary" class="control-label"><i class="anticon anticon-save"></i>Ảnh đại diện</label>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <hr />
            <hr />
                
            <label>Tên đăng nhập: @Model.UserName</label>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label">Mật khẩu</label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole" hidden class="control-label"></label>
            </div>

            <div class="m-b-15 d-flex" style="justify-content: space-between;">
                <button asp-action="Edit" class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu thay đổi</span>
                </button>
                <div>
                    <a href="/Admin?UserID=@HttpContextAccessor.HttpContext.Session.GetInt32("ADMIN_SESSION_USERID")&EmpID=@HttpContextAccessor.HttpContext.Session.GetInt32("ADMIN_SESSION_EMPID")" class="btn btn-success btn-tone m-r-5">Quay lại trang chủ</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

    //<script>
    //            $("#image_submit").change(function () {
    //                if (this.files && this.files[0]) {
    //                    var reader = new FileReader();
    //                    reader.onload = function (e) {
    //                        $('#blah')
    //                            .attr('src', e.target.result)
    //                            .width(80)
    //                            .height(80);
    //                    };
    //                    reader.readAsDataURL(this.files[0]);
    //                }
    //            })

    //            function loadphoto() {
    //                var box = $(".avatar-image")[0];
    //                var box2 = $("#get_id");

    //                var userid = box2.data("id");

    //                var formdata = new FormData();
    //                formdata.append("id", userid);
    //                var urlphoto = "@Url.Action("Avtphoto")";

                    

    //                $.ajax({
    //                    data: formdata,
    //                    cache: false,
    //                    url: urlphoto,
    //                    type: "POST",
    //                    contentType: false,
    //                    processData: false,
    //                    success: function (data) {
    //                        box.html(`<img src="~/ImageUser/` + data.urlavt + `" asp - append - version="true" alt = "" >)`;
    //                    console.log(`<img src="~/ImageUser/` + data.urlavt + `" asp - append - version="true" alt = "" >)`
    //                    }
    //                });
    //            }

    //            $(document).ready(function () {
    //                loadphoto();
    //            })
    //</script>
}
}

    <script>
        $("#image_submit").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(80)
                        .height(80);
                };
                reader.readAsDataURL(this.files[0]);
            }
        })

        //function loadphoto() {
        //    var box = $(".avatar-image")[0];
        //    var box2 = $("#get_id");

        //    var userid = box2.data("id");

        //    var formdata = new FormData();
        //    formdata.append("id", userid);
        //    var urlphoto = "@Url.Action("Avtphoto")";



        //    $.ajax({
        //        data: formdata,
        //        cache: false,
        //        url: urlphoto,
        //        type: "POST",
        //        contentType: false,
        //        processData: false,
        //        success: function (data) {
        //            //box.html(`<img src="~/ImageUser/` + data.urlavt + `" asp - append - version="true" alt = "" >`;
        //          var a= document.getElementById("get_url");
        //            a.innerHTML = `<img src="~/ImageUser${data.urlavt@HttpContextAccessor.HttpContext.Session.GetString("ADMIN_SESSION_AVATAR")
        //        }" alt="">`;
        //        }
        //    });
        //}

        //$(document).ready(function () {
        //    loadphoto();
        //})
    </script>

