@model IEnumerable<WebBriliFresh.Models.DTO.ShoppingCartViewModel>
@inject WebBriliFresh.Models.BriliFreshDbContext _context;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using WebBriliFresh.Common;
@{
    Layout = null;
}

<html lang="en">
<head>
    <title>Giỏ hàng</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/logo.png">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="~/HomeAssets/asset/fonts/themify-icons/themify-icons.css">
    @*<link rel="stylesheet" href="~/HomeAssets/asset/base.css" />*@
    <link rel="stylesheet" href="~/HomeAssets/homeheadermain.css" />
    <link rel="stylesheet" href="~/HomeAssets/HomeFooter.css" />
    <link rel="stylesheet" href="~/BuyAndPayAssets/CartInfoCheck/CartInfoCheck.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <form action="@Url.Action("CartInfo", "BuyAndPay")" method="GET" class="giohangform">
        <div class="header">
            @await Html.PartialAsync("~/Views/Shared/_HomeHeaderPartialView.cshtml")
        </div>

        <div class="content">
            <div class="content__title">
                <h3 class="content__headline"><center>GIỎ HÀNG</center></h3>
            </div>

            <div class="content__description">
                <div class="content__header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" class="content__select-all">
                            </div>
                            <div class="col-md-4">
                                <span style="margin-left: 20px"><b>Tất cả (<span id="numPro"></span> sản phẩm)</b></span>
                            </div>
                            <div class="col-md-2">Đơn giá</div>
                            <div class="col-md-2">Số lượng</div>
                            <div class="col-md-2">Thành tiền</div>
                            <div class="col-md-1">
                                <button type="button" class="content__remove-all">
                                    <img src="./assets/icons/trash.png" class="content__remove-img"></img>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content__empty">
                    <span class="content__empty-message" align="center">Không có sản phẩm nào trong giỏ.</span>
                </div>

                <div class="content__data">
                    <div class="container">
                        @foreach(var item in Model){
                            int x = 0;
                            var item2 = _context.Products.Where(x => x.ProId == item.productId).FirstOrDefault();
                            var a = _context.ProductImages.Where(x => x.ProId == item.productId).Select(p => p.ImgData).ToList();
                            if (a.Count >= 1)
                            {
                                for (int i = 0; i < a.Count; i++)
                                {
                                    if (a[i].Contains("is_avt"))
                                    {
                                        x = i;
                                    }
                                }
                            }
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" class="content__select">
                                </div>
                                <div class="col-md-4">
                                    <div class="content__pro-info">
                                        <img class="content__pro-image" src="~/ImageProduct/@Html.DisplayFor(m=>a[x])"></img>
                                        <span class="content__pro-name">@item2.ProName (@item2.Unit)</span>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <span class="content__unit-price">@item.saleprice</span>
                                </div>
                                <div class="col-md-2">
                                    <div class="content__quantity-info">
                                        <span class="content__minus">-</span>
                                        <input class="content__quantity" type="text" value="@item.quantity" />
                                        <span class="content__plus">+</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span class="content__amount"></span>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="content__remove" data-id="@item.productId">
                                        <img src="~/icons/trash.png" class="content__remove-img"></img>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <div class="content__message">
                <label class="content__error-message">Vui lòng chọn sản phẩm!</label>
            </div>

            <div class="content__order">
                <input class="content__order-button" type="submit" value="TIẾN HÀNH ĐẶT HÀNG">
            </div>
        </div>
            @await Html.PartialAsync("~/Views/Shared/_FooterPartialView.cshtml")
    </form>
    <script type="text/javascript" src="~/BuyAndPayAssets/CartInfoCheck/CartInfoCheck.js"></script>
    <script>
        //$(document).ready(function () {
        //    $(document).ready(function () {
        //        $(".content__remove").click(function () {
                    
        //        });
        //    });
        //});
    </script>
</body>
</html>
