@model WebBriliFresh.Models.Stock

@{
    ViewData["Title"] = "Delete";
}
<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-action="Index" class="breadcrumb-item">Quản lý kho</a>
            <span class="breadcrumb-item active">Xóa</span>
        </nav>
    </div>
</div>
<h1>Xóa thông tin kho</h1>

<h3>Bạn có chắc muốn xóa sản phẩm khỏi cửa hàng?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID cửa hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>
        <dt class = "col-sm-2">
            ID sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pro.ProId)
        </dd>
        <dt class = "col-sm-2">
            Số lượng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
       
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Store.StoreId" asp-route-id1="@Model.Pro.ProId" method="post">
        <input type="hidden" asp-for="StoreId" />
        <input type="hidden" asp-for="ProId" />
        <input type="submit" value="Xóa" class="btn btn-danger"/> 
        <a style="margin-left:20px;" asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
    </form>
</div>
