@model WebBriliFresh.Models.Stock

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-action="Index" class="breadcrumb-item">Quản lý kho</a>
            <span class="breadcrumb-item active">Chỉnh sửa</span>
        </nav>
    </div>
</div>
<h3>Chỉnh sửa thông tin kho</h3>
<p class="text-dark font-weight-semibold">Mã cửa hàng: @Html.DisplayFor(model => model.StoreId)</p>
<p class="text-dark font-weight-semibold">Địa chỉ: @Html.DisplayFor(model => model.Store.SpecificAddress), @Html.DisplayFor(model => model.Store.Ward), @Html.DisplayFor(model => model.Store.District), @Html.DisplayFor(model => model.Store.City)</p>
<p class="text-dark font-weight-semibold">Mã sản phẩm: @Html.DisplayFor(model => model.ProId)</p>
<p class="text-dark font-weight-semibold">Tên sản phẩm: @Html.DisplayFor(model => model.Pro.ProName)</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.StoreId" asp-route-id1="@Model.ProId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoreId" />
            <input type="hidden" asp-for="ProId" />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
</div>
<script>
    $("#save-btn").click(function (e) {
            if ($("#quantity").is(':invalid')) {
                $("#quantity-message").show();
            }
            if ($("#quantity").val() < 0) {
                e.preventDefault();
                $("#quantity-message1").show();
            }

        })
        //Bỏ thông báo yêu cầu chọn/nhập
        $("#quantity").keyup(function(){
            $("#quantity-message").hide();
            $("#quantity-message1").hide();
        })
</script>
