@model IEnumerable<WebBriliFresh.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Pro.ProId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StoreId, id1=item.ProId}) |
                    @Html.ActionLink("Details", "Details", new { id=item.StoreId, id1=item.ProId}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.StoreId, id1=item.ProId})
            </td>
        </tr>
}
    </tbody>
</table>
