@model IEnumerable<WebBriliFresh.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<!-- Content Wrapper START -->
<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Quản lý kho</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <b>Mã cửa hàng</b>
                        <select id="store" class="form-control" asp-items="ViewBag.StoreId">
                            <option value="" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="m-b-10 m-r-15" style="margin-left: 12px">
                        <b>Tình trạng tồn kho</b>
                        <select id="status" class="form-control" >
                            <option value="" selected>Tất cả</option>
                            <option value="1">Còn hàng</option>
                            <option value="2">Hết hàng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-primary" id="createbtn">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm mới sản phẩm vào kho</span>
                </button>
            </div>
        </div>
        <div style="float: right;">
            <div>
                <span style="background-color: #FFFFFF; height: 20px; width: 20px; border-radius: 50%; border: 1px solid; display: inline-block;"></span>
                <label style="float: right; margin-left: 8px; margin-bottom: 4px;" class="text-dark font-weight-semibold">Còn hàng</label>
            </div>
            <div>
                <span style="background-color: #ffa8a8; height: 20px; width: 20px; border-radius: 50%; border: 1px solid; display: inline-block;"></span>
                <label style="float: right; margin-left: 8px;" class="text-dark font-weight-semibold">Hết hàng</label>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Mã cửa hàng</th>
                        <th style="width: 300px;">Địa chỉ</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr class="rowitem">
                                <td><span class="storeId">@Html.DisplayFor(modelItem => item.Store.StoreId)</span></td>
                                <td>@Html.DisplayFor(modelItem => item.Store.SpecificAddress), @Html.DisplayFor(modelItem => item.Store.Ward), @Html.DisplayFor(modelItem => item.Store.District), @Html.DisplayFor(modelItem => item.Store.City)</td>
                              
                                <td>@Html.DisplayFor(modelItem => item.Pro.ProId)</td>
                                <td>@Html.DisplayFor(modelItem => item.Pro.ProName)</td>
                                <td class="quantity"> @Html.DisplayFor(modelItem => item.Quantity)</td>

                                <td class="text-left">
                                    <a asp-controller="AdminStocks" asp-action="Edit" asp-route-id="@item.StoreId" asp-route-id1="@item.ProId" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a asp-controller="AdminStocks" asp-action="Delete" asp-route-id="@item.StoreId" asp-route-id1="@item.ProId" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                    <a style="display: block" asp-controller="AdminStocks" asp-action="Details" asp-route-id="@item.StoreId" asp-route-id1="@item.ProId">
                                        Xem chi tiết
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
<script>
    $('#store, #status').change(function(){
        var a = $('#store').val();
        var b = $('#status').val();
        $(".rowitem").show();
        for (var i = 0; i < $(".storeId").length; i++) {
            var c = $(".storeId")[i].innerText;
            var d = $(".quantity")[i].innerText;
            if (((a!=c)&&a!="") || ((b==1) && (d==0)) || ((b==2) && (d!=0))) {
                $(".rowitem")[i].style.display = 'none';
            }
        }
    })
</script>
