@model IEnumerable<WebBriliFresh.Models.CustomerDiscountOrder>

@{
    ViewData["Title"] = "Khuyến mãi đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Khuyến Mãi Đơn Hàng</h1>

<div class="col-lg-4 text-right">
    <a asp-area="Admin" asp-action="Create" class="btn btn-primary">
        <i class="anticon anticon-plus-circle m-r-5"></i>
        <span>Tạo Khuyến Mãi</span>
    </a>
</div>
<div class="table-responsive">
    <table class="table table-hover e-commerce-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DiscountOrdersDisId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomersCusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    Tỉ lệ giảm
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string name = item.Customer.LastName + item.Customer.FirstName;
                <tr class="rowTable">
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountOrder.DisCode)
                    </td>
                    <td>
                        @name
                    </td>
                    @if (item.IsDeleted == false)
                    {
                        <td>
                            Chưa sử dụng
                        </td>
                    }else{
                        <td>
                            Đã sử dụng
                        </td>
                    }
                    <td>@item.DiscountOrder.DisRate</td>
                    <td>
                        @Html.ActionLink("Xóa", "Delete", new {  DiscountOrderDisId=item.DiscountOrdersDisId ,DiscountOrderCusId=item.CustomersCusId})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>