@model WebBriliFresh.Models.Store

@{
    ViewData["Title"] = "Delete";
}
<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-action="Index" class="breadcrumb-item">Quản lý cửa hàng</a>
            <span class="breadcrumb-item active">Xóa</span>
        </nav>
    </div>
</div>
<h1>Xóa cửa hàng</h1>

<h3>Bạn có chắc muốn xóa cửa hàng?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            <h3> @Html.DisplayFor(model => model.StoreId)</h3>
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecificAddress)
        </dd>
        <dt class="col-sm-2">
            Phường/Xã
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ward)
        </dd>
        <dt class="col-sm-2">
            Quận/Huyện
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class="col-sm-2">
            Tỉnh/Thành
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StoreId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> 
        <a style="margin-left:20px;" asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
    </form>
</div>
